html {
  box-sizing: border-box;
}

/* Palette */
:root {
  --primary-brand: #4d5ae5;
  --dark: #2e2f42;
  --text: #434455;
  --hover: #404bbf;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --white: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--text);
  background-color: var(--white);
}
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Lists styling */

li {
  list-style: none;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}
/* ----------LOGO-------------- */
.logo {
  margin-right: 76px;

  color: var(--primary-brand);
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.logo-gray {
  align-items: center;

  color: var(--dark);
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.logo-footer {
  display: inline-block;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;

  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light);
  text-decoration: none;
}
.logo.margin {
  display: block;
  margin-bottom: 16px;
}
/* ----------LOGO-------------- */

/* ------Main navigation ---------*/
.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
}
.site-nav .item + .item {
  margin-left: 40px;
}
.site-nav .link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.address {
  display: flex;
}
.address .item + .item {
  margin-left: 40px;
}
.address-ul {
  display: flex;
  margin-left: auto;
}

/* ---------TITLES------------ */
.hero-title {
  margin-top: 0;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  width: 496px;

  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;

  color: var(--white);
}
.main-subtitle {
  margin-top: 0;
  margin-bottom: 72px;

  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--dark);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-title {
  margin-top: 0;
  margin-top: 8px;
  margin-bottom: 8px;

  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--dark);
}
.benefit-icon {
  content: '';
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;

  background-color: var(--light);
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
}
.benefit-icon > .icon {
  width: 64px;
  height: 64px;
}

/* ------TEMPORARY--------- */
/* .section-content > .item {
  outline: solid tomato;
} */
/* ------TEMPORARY--------- */

.portfolio-title {
  margin-top: 0;
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--dark);
}
/* ---------TITLES------------ */

/* ----Active elements --------*/
.nav-links {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark);
  text-decoration: none;
}
.nav-links:hover,
.nav-links:focus {
  color: var(--hover);
}
.nav-address {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;

  font-style: normal;
  letter-spacing: 0.02em;
  color: var(--text);
  text-decoration: none;
}

.nav-address:hover,
.nav-address:focus {
  color: var(--hover);
}
button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-brand);
  padding: 12px 24px;
  min-width: 100px;
  text-align: center;
  cursor: pointer;
  background: var(--light);
  border: 1px solid transparent;
  border-radius: 4px;
}
button:hover,
button:focus {
  background: var(--hover);
  color: var(--white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: var(--hover);
}
.filter-button {
  border-color: var(--accent);
}
.hero-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  padding: 16px 32px;
  background: var(--primary-brand);
  color: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/* ----------------Sections--------- */
header {
  display: block;
  border-bottom: 1px solid var(--accent);
}
section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-content {
  display: flex;
}

.hero {
  background-color: var(--dark);
  background-image: linear-gradient(
      0deg,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../img/people-office.jpg);

  margin-left: auto;
  margin-top: auto;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding-top: 188px;
  padding-bottom: 188px;
}

.section-content.team {
  display: flex;
  text-align: center;
}
.section-content .item:not(:last-child) {
  margin-right: 24px;
}

.our-team {
  background-color: var(--light);
}
.social-networks {
  margin-left: 16px;
  margin-right: 16px;
}
.networks-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.network-svg {
  display: flex;
  margin-top: 8px;
  width: 40px;
  height: 40px;
  gap: 24px;
  border-radius: 50%;
  background-color: var(--primary-brand);
  justify-content: center;
  align-items: center;
}
.network-svg:hover {
  background-color: var(--hover);
}

.network-item {
  width: 16px;
  height: 16px;
}

.customers {
  padding-top: 130px;
  padding-bottom: 120px;
}
.customer-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.customer-list > .item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 24px;
  width: 168px;
  height: 88px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
}

/* -------icons of Customers section----- */

.item > .icon-svg {
  display: flex;
  width: 104px;
  height: 56px;
}

.customers .icon-svg {
  fill: #8e8f99;
}
.customers .icon-svg:hover {
  cursor: pointer;
  fill: var(--hover);
}
.customers .item:hover {
  border-color: var(--hover);
}
/* -------/icons of Customers section----- */

footer {
  padding-top: 100px;
  padding-bottom: 100px;
  color: var(--accent);
  background-color: var(--dark);
}
.footer {
  width: 264px;
}
.footer.container {
  display: flex;
  flex-direction: row;
}
.footer-media {
  margin-left: 120px;
}
.media-logo {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--white);
}
.media-links {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-top: 16px;
}
.icon-wrap {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  justify-content: center;
  align-items: center;
}
.icon-wrap:hover {
  background: #31d0aa;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;

  /* outline: 2px solid tomato; */
}
.doing {
  padding-top: 0;
}

.portfolio-container {
  padding-top: 96px;
  padding-bottom: 120px;
}
.customers > .container {
  padding-top: 0;
}

.portfolio > .portfolio.filters {
  padding-left: auto;
  padding-right: auto;
}

.portfolio {
  display: flex;
}
.portfolio.filters {
  display: flex;

  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
}
.portfolio.filters .item + .item {
  margin-left: 24px;
}

/* ----------------Sections--------- */

.listing-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}
.listing-content > .item {
  margin-bottom: 48px;
}

.listing-content .item:nth-child(n + 7) {
  margin-bottom: 0;
}

/* -----------Team cards------------- */
.card {
  padding-bottom: 32px;
  background: var(--white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
/* .portfolio-card {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;

  border-left: 1px solid var(--accent);
  border-right: 1px solid var(--accent);
  border-bottom: 1px solid var(--accent);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
} */
.name {
  margin-top: 32px;
  margin-bottom: 8px;
  font-style: normal;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.portfolio-descr {
  margin-top: 32px;
  margin-left: 16px;
  margin-right: 16px;

  font-style: normal;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
