html {
  box-sizing: border-box;
}

/* Palette */
:root {
  --primary-brand: #4d5ae5;
  --dark: #2e2f42;
  --text: #434455;
  --hover: #404bbf;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --white: #ffffff;
  --success: #31d0aa;
  --moda-bg: #fcfcfc;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--text);
  background-color: var(--white);
}
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Lists styling */

li {
  list-style: none;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}
/* ----------LOGO-------------- */
.logo {
  margin-right: 76px;

  color: var(--primary-brand);
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.logo-gray {
  align-items: center;

  color: var(--dark);
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.logo-footer {
  display: inline-block;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;

  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light);
  text-decoration: none;
}
.footer-logo {
  display: block;
  margin-bottom: 16px;
  margin-right: 76px;

  color: var(--primary-brand);
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
/* ----------LOGO-------------- */

/* ------Main navigation ---------*/
.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  gap: 40px;
}
.active {
  /* position: relative; */
}

.active::after {
  display: block;
  content: '';
  width: 100%;
  border-bottom: solid 4px;
  border-radius: 2px;
  color: var(--hover);
  position: absolute;
  bottom: -1px;
  left: 0;
}
.active > .nav-links {
  color: var(--hover);
}

/* .site-nav .item + .item {
  margin-left: 40px;
} */
header > .container {
  display: flex;
}

.site-nav .link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.address {
  /* display: flex;
  justify-content: end; */
  margin-left: auto;
}

.address-ul {
  display: flex;
  gap: 40px;
}

/* ---------TITLES------------ */
.hero-title {
  margin-top: 0;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  width: 496px;

  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;

  color: var(--white);
}
.main-subtitle {
  margin-top: 0;
  margin-bottom: 72px;

  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--dark);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-title {
  margin-top: 0;
  margin-top: 8px;
  margin-bottom: 8px;

  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--dark);
}
.benefit-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;

  background-color: var(--light);
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
}
.benefit-icon > .icon {
  width: 64px;
  height: 64px;
}

.portfolio-title {
  margin-top: 0;
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--dark);
}
/* ---------TITLES------------ */

/* ----Active elements --------*/
.nav-links {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark);
  text-decoration: none;
  position: relative;
  transition: 250ms ease;
}
.nav-links:hover,
.nav-links:focus {
  color: var(--hover);
}

.nav-address {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;

  font-style: normal;
  letter-spacing: 0.02em;
  color: var(--text);
  text-decoration: none;
  transition: 250ms ease;
}

.nav-address:hover,
.nav-address:focus {
  color: var(--hover);
}
/* button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-brand);
  padding: 12px 24px;
  min-width: 100px;
  text-align: center;
  cursor: pointer;
  background: var(--light);
  border: 1px solid transparent;
  border-radius: 4px;
} */

.hero-button {
  min-width: 100px;
  text-align: center;
  cursor: pointer;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  padding: 16px 32px;
  background: var(--primary-brand);
  color: var(--white);
  border-radius: 4px;
  border-color: transparent;
  transition: 250ms ease;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
}

.hero-button:hover,
.hero-button:focus {
  background: var(--hover);
  color: var(--white);
  border-color: var(--hover);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-button {
  cursor: pointer;
  background: var(--light);
  color: var(--primary-brand);

  border: 1px solid var(--accent);
  border-radius: 4px;
  padding: 12px 24px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  transition: 250ms ease;
}
.filter-button:hover,
.filter-button:focus {
  background: var(--hover);
  color: var(--white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: var(--hover);
}
/* ----------------Sections--------- */
header {
  border-bottom: 1px solid var(--accent);
}
section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-content {
  display: flex;
}

.hero {
  background-color: var(--dark);
  background-image: linear-gradient(
      0deg,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../img/people-office.jpg);

  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 188px;
  padding-bottom: 188px;
}

.section-content.team {
  display: flex;
  text-align: center;
}
.section-content .item:not(:last-child) {
  margin-right: 24px;
}

.our-team {
  background-color: var(--light);
}
.social-networks {
  margin-left: 16px;
  margin-right: 16px;
}
.networks-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

.network-svg {
  display: flex;

  width: 40px;
  height: 40px;
  gap: 24px;
  border-radius: 50%;
  background-color: var(--primary-brand);
  justify-content: center;
  align-items: center;
  transition: 250ms ease;
}
.network-svg:hover {
  background-color: var(--hover);
}
.network-svg:focus {
  background-color: var(--hover);
}

.network-svg:focus {
  background-color: var(--hover);
}

.network-item {
  width: 16px;
  height: 16px;
}

.customers {
  padding-top: 130px;
  padding-bottom: 120px;
}
.customer-list {
  display: flex;
  gap: 24px;
}

/* -------icons of Customers section----- */

.item > .icon-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 250ms ease;
}
.icon-svg > .icon {
  width: 104px;
  height: 56px;
}

.customers .icon-svg {
  fill: #8e8f99;
  display: flex;
  width: 168px;
  height: 88px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
}

.customers .icon-svg:hover {
  border-color: var(--hover);
  fill: var(--hover);
}
.customers .icon-svg:focus {
  border-color: var(--hover);
  fill: var(--hover);
}
/* -------/icons of Customers section----- */

footer {
  padding-top: 100px;
  padding-bottom: 100px;

  background-color: var(--dark);
}
.footer {
  width: 264px;
  color: var(--accent);
}
.footer.container {
  display: flex;
}
.footer-media {
  margin-left: 120px;
}
.media-logo {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--white);
}
.media-links {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}
.icon-wrap {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  justify-content: center;
  align-items: center;
  transition: 250ms ease;
}
.icon-wrap:hover {
  background: var(--success);
}
.icon-wrap:focus {
  background: var(--success);
}

.network-footer {
  width: 24px;
  height: 24px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;

  /* outline: 2px solid tomato; */
}

.doing {
  padding-top: 0;
}

.portfolio-container {
  padding-top: 96px;
  padding-bottom: 120px;
}

.filters {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
}

/* ----------------Sections--------- */

/* -----------Team cards------------- */
.card {
  padding-top: 32px;
  padding-bottom: 32px;
}
.team-content > .item {
  background: var(--white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-content {
  display: flex;
  gap: 24px;
}

.card-project {
  padding: 32px 16px;
  border-left: 1px solid var(--accent);
  border-right: 1px solid var(--accent);
  border-bottom: 1px solid var(--accent);
}
.card-image {
  border: none;
}

.listing-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 24px;
  row-gap: 48px;
}
.listing-content > .item {
  transition: 250ms ease;
}

.listing-content > .item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.item:hover .card-overlay {
  transform: translateY(0);
}

.wrap-card-overlay {
  position: relative;
  overflow: hidden;
}

.card-overlay {
  position: absolute;
  top: 0;
  padding-left: 32px;
  padding-top: 40px;
  padding-right: 32px;
  height: 100%;

  font-weight: 400;
  color: var(--light);
  background-color: var(--primary-brand);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* overflow: auto; */
}

.name {
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.team-position {
  text-align: center;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms linear, visibility 250ms linear;
}
.modal {
  position: absolute;
  width: 408px;
  height: 576px;
  left: 50%;
  top: 50%;
  background-color: var(--moda-bg);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 24px;
  transform: translate(-50%, -50%);
}
.data-modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: var(--accent);
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: 0;
}
