@media screen and (min-width: 768px) {
  .container {
    display: block;
    width: 736px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
  }

  /* NAVIGATION  */
  /* header > .container {
    display: flex;
    flex-wrap: nowrap;
  } */
  .logo {
    margin-right: 120px;
  }

  .nav-links {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark);
    text-decoration: none;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-links:hover,
  .nav-links:focus {
    color: var(--hover);
  }

  .address {
    padding-top: 24px;
  }
  .address-ul {
    display: initial;
  }

  .nav-address {
    display: flex;
    align-items: center;

    font-style: normal;
    font-size: 12px;
    letter-spacing: 0.02em;
    color: var(--text);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-address:hover,
  .nav-address:focus {
    color: var(--hover);
  }

  .menu-open-btn {
    display: none;
  }
  .menu-open-icon {
    display: none;
  }

  .hero {
    padding-top: 111px;
    padding-bottom: 108px;
    background-image: linear-gradient(
        0deg,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../img/hero/hero-bg-tab.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          0deg,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../img/hero/hero-bg-tab-2x.jpg);
    }
  }
  /*  */
  .hero-title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    width: 494px;
  }
  section {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  /* BENEFITS  */
  .benefits .item {
    width: calc((100% - 24px) / 2);
  }
  .benefits-title {
    text-align: left;
  }

  .benefits-content {
    flex-wrap: wrap;
  }

  .section-content {
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
  }

  /* DOING  */

  /* OUR TEAM  */
  .our-team > .container {
    /* display: flex; */
    align-items: center;
  }

  .section-content.team {
    display: flex;
    text-align: center;
  }

  .our-team {
    margin-top: 0;
    padding-bottom: 104px;
  }

  .team-content {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: center;
    width: 552px;
    /* max-width: 839px; */
    margin: 0 auto;
  }

  /* CUSTOMERS  */

  .customers {
    padding-top: 87px;
  }
  .customer-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 72px;
    justify-content: center;
    /* width: 428px; */
  }

  /* FOOTER  */

  .footer.container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
  }
  .footer-logo {
    margin-right: ;
  }

  .footer-box {
    margin-left: 0;
    margin-right: auto;
    width: 264px;
    text-align: left;
  }

  .footer-media {
    width: 208px;
    margin-left: 24px;
    margin-right: 0;
    margin-top: 0;
  }
  .footer-subscribe {
    /* margin-left: auto; */
    margin-top: 72px;
    margin-left: 0;
    width: 453px;
  }
  .subscription-wrap {
    flex-wrap: nowrap;
  }

  /* MODAL  */

  .modal {
    position: absolute;
    width: 408px;
    height: 586px;
    left: 50%;
    top: 50%;
    background-color: var(--moda-bg);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }

  .filters {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
  }
}
