:root {
  --primary-brand: #4d5ae5;
  --dark: #2e2f42;
  --text: #434455;
  --hover: #404bbf;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --white: #ffffff;
  --success: #31d0aa;
  --moda-bg: #fcfcfc;
  --light-slate: #8e8f99;
}
